<!-- ============================================================== -->
<!-- sidebar -->
<!-- ============================================================== -->
 <div class="user-profile" style="background: url(assets/images/background/sidebar.png) no-repeat;">
    <!-- User profile image -->
    <div class="profile-img"> <img src="assets/images/users/notification.png" alt="user" style="width: 65%;margin-left:72px;"> </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text"><a class="" style="margin-bottom:2px;"> Anda memiliki 2 notifikasi <i class="ti-angle-down font-12 m-l-5"></i></a></div>
     <!-- <mat-menu #sdprofile="matMenu" class="mymegamenu">
        <button mat-menu-item>
            <mat-icon>settings</mat-icon> Settings </button>
        <button mat-menu-item>
            <mat-icon>account_box</mat-icon> Profile </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon> Disable notifications </button>
        <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon> Sign Out </button>
    </mat-menu>  -->

</div>
<mat-list appAccordion>
    <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected" group="{{menuitem.state}}">
        <a class="" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon> 
            <span>{{ menuitem.name }}</span> 
            <span fxFlex></span> 
            <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span> 
        </a>

        <mat-accordion *ngIf="menuitem.type === 'sub'">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-icon>{{ menuitem.icon }}</mat-icon>
                    <span>{{ menuitem.name }}</span>
                </mat-expansion-panel-header>
                <ul>
                    <ng-template ngFor let-menuitemSub [ngForOf]="menuitem.children">
                        <li *ngIf="menuitemSub.type !== 'sub'">
                            <a [routerLink]="['/', menuitemSub.state]"
                                target="{{menuitemSub.target ? '_blank' : '_self'}}">
                                <span class="pcoded-micon">
                                    <i class="ti-angle-right"></i>
                                </span>
                                <span class="pcoded-mtext">{{ menuitemSub.name }}</span>
                            </a>
                        </li>
                    </ng-template>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-list-item>
</mat-list>