
 <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100" >
          <form class="login100-form validate-form">
            <h2>SignIn</h2>

    
            <div [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error
                      *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                      Please enter your Email
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Email" formControlName="password">
                <mat-error
                      *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                      Please enter your Password
                </mat-error>
              </mat-form-field>
            </div>

            <div class="container-login100-form-btn">
              <div class="wrap-login100-form-btn">
                <div class="login100-form-bgbtn"></div>
                <button type="submit" class="login100-form-btn" [routerLink]="['/dashboard']">
                  Masuk
                </button>
              </div>
            </div>

            <div class="text-center p-t-115">
              <span class="txt1">
                
              </span>

              <a class="txt2" href="#">
                Lupa password ?
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <div id="dropDownSelect1"></div>