        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->

<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" style="color:white;margin-right:110px;"><img src="assets/images/users/sort-down.png" style="width: 13px;margin-right:5px;margin-top:-2px;"> John Doe <a style="padding-right:5px;"></a> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Pengaturan </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Profil </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Matikan Notifikasi </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Keluar </button>
</mat-menu>

