/* css untuk list */
.example-card {
    width: 47%;
}

/* css untuk card di 1 baris */
#card-container {
    display: flex;
    flex-flow: row wrap;
}

:host /deep/ .mat-card-content
{
    padding: 0%;
    margin-bottom: 0%;
}

:host /deep/ .mat-list
{
    padding-top: 0%;
}


/* css untuk chart */
p {
    font-family: Lato;
  }

#header
{
  background-color: #353A40;
  color: white;
}

.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
}  

/* bread crumbs */
a{
  margin-left: 1%;
}
