<div id="card-container">
  <!-- card evaluasi -->

  <mat-card class="example-card" style="border-left:8px solid #27cf75 ; border-radius:10px;">
    <mat-card-header>
      <mat-card-title>Evaluasi</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon >brightness_1</mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>

  <!-- card pengajuan cuti -->
  <mat-card class="example-card" style="border-left:8px solid #0398cb ; border-radius:10px;">
    <mat-card-header>
      <mat-card-title>Pengajuan Cuti</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>brightness_1</mat-icon>
          <h4 mat-line>{{folder.name}}</h4>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>

<div id="card-container">
  <!-- chart karyawan -->
  <mat-card class="example-card">
    <mat-card-header id="header">
      <mat-card-title>Chart Karyawan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: block;">
        <canvas baseChart 
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- chart divisi -->
  <mat-card class="example-card">
    <mat-card-header id="header">
      <mat-card-title>Chart Divisi</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="display: block;">
        <canvas baseChart 
          [data]="pieChartData" 
          [labels]="pieChartLabels" 
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend">
        </canvas>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div id="card-container">
  <!-- card to do list -->
  <mat-card class="example-card">
    <mat-card-header id="header">
        <mat-card-title>To Do List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let folder of folders1">
          <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
          <h4 mat-line>{{folder.name}}</h4>
          <p mat-line> {{folder.updated | date}} </p>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>