<!-- modal tambah -->
<ng-template #template style="z-index: 1050;">
      <div class="modal-header" style="background:linear-gradient(to right,#7A1D2D,#AB222C,#E71B27);;color:white">
            <h4 class="modal-title pull-left" style="text-align: center">Tambah Karyawan</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body" style="text-align: center;">
            <form class="login100-form validate-form" [formGroup]="tambahKaryawan"
                  (ngSubmit)="onFormSubmit(tambahKaryawan.value)">
                  
                  <mat-form-field appearance="outline" class="modalTambah">
                        <mat-label>Nama</mat-label>
                        <input matInput placeholder="Nama" formControlName="Nama">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Nama').hasError('required') && tambahKaryawan.get('Nama').touched">
                              Masukan nama
                        </mat-error>
                  </mat-form-field>
                  
                  <mat-form-field appearance="outline">
                        <mat-label>Nomor Induk Penduduk</mat-label>
                        <input matInput placeholder="NIP" formControlName="NIP">
                        <mat-error
                              *ngIf="tambahKaryawan.get('NIP').hasError('required') && tambahKaryawan.get('NIP').touched">
                              Masukan NIP
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email">
                        <mat-error
                              *ngIf="tambahKaryawan.get('email').hasError('required') && tambahKaryawan.get('email').hasError('email') &&
                                    tambahKaryawan.get('email').touched"> Masukan email
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>Tempat Lahir</mat-label>
                        <input matInput placeholder="Tempat Lahir" formControlName="Tempat_Lahir">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Tempat_Lahir').hasError('required') && tambahKaryawan.get('Tempat_Lahir').touched">
                              Masukan tempat lahir
                        </mat-error>
                  </mat-form-field>

                  <!-- <div class="wrap-input100 validate-input" data-validate="Masukan Tanggal Lahir"
                        style="margin-top:-8px;">
                        <input class="input100" type="date" name="tanggal_lahir" placeholder="Tanggal lahir"
                              style="padding-left:20px;" formControlName="Tanggal_Lahir">
                  </div><br> -->
                  
                  <!-- date picker berada di belakang modal -->
                  <mat-form-field appearance="outline"  style="z-index: 1200;">
                        <mat-label>Tanggal Lahir</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Tanggal Lahir" formControlName="Tanggal_Lahir"  style="z-index: 1200;">
                              <mat-datepicker-toggle matSuffix [for]="picker"  style="z-index: 1200;"></mat-datepicker-toggle>
                              <mat-datepicker #picker style="z-index: 1200;"></mat-datepicker>
                        <mat-error
                              *ngIf="tambahKaryawan.get('Tanggal_Lahir').hasError('required') && tambahKaryawan.get('Tanggal_Lahir').touched">
                              Masukan tanggal lahir
                        </mat-error>
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>Alamat</mat-label>
                        <input matInput placeholder="Alamat" formControlName="Alamat">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Alamat').hasError('required') && tambahKaryawan.get('Alamat').touched">
                              Masukan alamat
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>NPWP</mat-label>
                        <input matInput placeholder="NPWP" formControlName="NPWP">
                        <mat-error
                              *ngIf="tambahKaryawan.get('NPWP').hasError('required') && tambahKaryawan.get('NPWP').touched">
                              Masukan NPWP
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>BPJS TenagaKerja</mat-label>
                        <input matInput placeholder="NPWP" formControlName="BPJS_TenagaKerja">
                        <mat-error
                              *ngIf="tambahKaryawan.get('BPJS_TenagaKerja').hasError('required') && tambahKaryawan.get('BPJS_TenagaKerja').touched">
                              Masukan BPJS tenagakerja
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>BPJS Kesehatan</mat-label>
                        <input matInput placeholder="BPJS Kesehatan" formControlName="BPJS_Kesehatan">
                        <mat-error
                              *ngIf="tambahKaryawan.get('BPJS_Kesehatan').hasError('required') && tambahKaryawan.get('BPJS_Kesehatan').touched">
                              Masukan BPJS kesehatan
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>ID Divisi</mat-label>
                        <input matInput placeholder="ID Divisi" formControlName="Id_Divisi">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Id_Divisi').hasError('required') && tambahKaryawan.get('Id_Divisi').touched">
                              Masukan id divisi
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>ID Departemen</mat-label>
                        <input matInput placeholder="ID Departemen" formControlName="Id_Departemen">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Id_Departemen').hasError('required') && tambahKaryawan.get('Id_Departemen').touched">
                              Masukan id departemen
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>ID Jabatan</mat-label>
                        <input matInput placeholder="ID Jabatan" formControlName="Id_Jabatan">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Id_Jabatan').hasError('required') && tambahKaryawan.get('Id_Jabatan').touched">
                              Masukan id jabatan
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>Alamat Kerja</mat-label>
                        <input matInput placeholder="Alamat Kerja" formControlName="Alamat_Kerja">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Alamat_Kerja').hasError('required') && tambahKaryawan.get('Alamat_Kerja').touched">
                              Masukan alamat kerja
                        </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                        <mat-label>Telepon Kerja</mat-label>
                        <input matInput placeholder="Telepon Kerja" formControlName="Telp_Kerja">
                        <mat-error
                              *ngIf="tambahKaryawan.get('Telp_Kerja').hasError('required') && tambahKaryawan.get('Telp_Kerja').touched">
                              Masukan telepon kerja
                        </mat-error>
                  </mat-form-field>

                  <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                              <div class="login100-form-bgbtn"></div>
                              <button type="submit" class="login100-form-btn"
                                    style="background:linear-gradient(to right,#7A1D2D,#AB222C,#E71B27);;color:white;font-family:sans-serif">
                                    Simpan
                              </button>
                        </div>
                  </div>
            </form>

      </div>
</ng-template>

<!-- modal edit -->
<ng-template #template2>
      <div class="modal-header" style="background:linear-gradient(to right,#7A1D2D,#AB222C,#E71B27);;color:white">
            <h4 class="modal-title pull-left" style="text-align: center">Edit Karyawan</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
            </button>
      </div>
      <div class="modal-body">
            <ng-container *ngIf="karyawan">
                  <form class="login100-form validate-form" [formGroup]="editKaryawan"
                        (ngSubmit)="onFormEdit(editKaryawan.value)">
                        <mat-form-field appearance="outline">
                              <mat-label>Nama</mat-label>
                              <input matInput placeholder="Name" formControlName="Nama" [(ngModel)]="karyawan.Nama">
                              <mat-error
                                    *ngIf="productForm.get('Nama').hasError('required') && productForm.get('Nama').touched">
                                    Please enter Your Name
                              </mat-error>
                              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>

                        <div class="wrap-input100 validate-input" data-validate="Masukan NIP karyawan"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="nip" placeholder="Nomor Induk Penduduk"
                                    style="padding-left:20px;" formControlName="NIP" [(ngModel)]="karyawan.NIP">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Valid email: nama@bts.id">
                              <input class="input100" type="text" name="email" placeholder="E-mail"
                                    style="padding-left:20px;" formControlName="email" [(ngModel)]="karyawan.email">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan Tempat Lahir"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="tempat_lahir" placeholder="Tempat Lahir"
                                    style="padding-left:20px;" formControlName="Tempat_Lahir" [(ngModel)]="karyawan.Tempat_Lahir">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan Tanggal Lahir"
                              style="margin-top:-8px;">
                              <input class="input100" type="date" name="tanggal_lahir" placeholder="Tanggal lahir"
                                    style="padding-left:20px;" formControlName="Tanggal_Lahir" [(ngModel)]="karyawan.Tanggal_Lahir">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan Alamat"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="alamat" placeholder="Alamat"
                                    style="padding-left:20px;" formControlName="Alamat" [(ngModel)]="karyawan.Alamat">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan NPWP" style="margin-top:-8px;">
                              <input class="input100" type="text" name="NPWP" placeholder="NPWP"
                                    style="padding-left:20px;" formControlName="NPWP" [(ngModel)]="karyawan.NPWP">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan BPJS TenagaKerja"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="BPJS_TenagaKerja" placeholder="BPJS TenagaKerja"
                                    style="padding-left:20px;" formControlName="BPJS_TenagaKerja" [(ngModel)]="karyawan.BPJS_TenagaKerja">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan BPJS Kesehatan"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="BPJS_Kesehatan" placeholder="BPJS Kesehatan"
                                    style="padding-left:20px;" formControlName="BPJS_Kesehatan" [(ngModel)]="karyawan.BPJS_Kesehatan">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan ID Divisi"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="ID_Divisi" placeholder="ID Divisi"
                                    style="padding-left:20px;" formControlName="Id_Divisi" [(ngModel)]="karyawan.Id_Divisi">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan ID Department"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="ID_Department" placeholder="ID Department"
                                    style="padding-left:20px;" formControlName="Id_Departemen" [(ngModel)]="karyawan.Id_Departemen">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan ID Jabatan"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="ID_Jabatan" placeholder="ID Jabatan"
                                    style="padding-left:20px;" formControlName="Id_Jabatan" [(ngModel)]="karyawan.Id_Jabatan">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan Alamat Kerja"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="Alamat Kerja" placeholder="Alamat Kerja"
                                    style="padding-left:20px;" formControlName="Alamat_Kerja" [(ngModel)]="karyawan.Alamat_Kerja">
                        </div><br>

                        <div class="wrap-input100 validate-input" data-validate="Masukan Telepon Kerja"
                              style="margin-top:-8px;">
                              <input class="input100" type="text" name="Telepon Kerja" placeholder="Telepon Kerja"
                                    style="padding-left:20px;" formControlName="Telp_Kerja" [(ngModel)]="karyawan.Telp_Kerja">
                        </div><br>

                        <div class="container-login100-form-btn">
                              <div class="wrap-login100-form-btn">
                                    <div class="login100-form-bgbtn"></div>
                                    <button type="submit" class="login100-form-btn"
                                          style="background:linear-gradient(to right,#7A1D2D,#AB222C,#E71B27);;color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                                          Simpan
                                    </button>
                              </div>
                        </div>
                  </form>

            </ng-container>


      </div>
</ng-template>

<!-- modal cofirm delete karyawan -->
<!-- <pre class="card card-block card-header">{{message}}</pre> -->
<ng-template #template1>
      <div class="modal-body text-center">
            <p>Konfirmasi hapus [Nama Karyawan]</p>
            <button type="button" class="btn btn-default" (click)="confirm()">Ya</button>
            <button type="button" class="btn btn-primary" (click)="decline()">Batal</button>
      </div>
</ng-template>


   <!-- <button type="button" class="btn btn-primary" (click)="openModal(template)">Tambah</button> -->

<div class="bread">
      <p><a [routerLink]="['/dashboard']">Halaman Utama</a> > <a [routerLink]="['/karyawan']" style="font-weight:bold;">Karyawan</a></p>
</div>

<h1> Tabel Karyawan</h1>
<!-- search -->
<mat-form-field style="width: 250px;">
   <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search " >
</mat-form-field>

<button type="button" class="btn btn-secondary" (click)="openModal(template)" style="margin-left:20px;margin-top:8px;float: right; "> 
      <img src="../../assets/images/plus.png" style="width: 20px;margin-right:5px;"> Tambah
</button>

<!-- tabel -->
<div class="mat-elevation-z8" style="width: 100%">
      <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="NIP">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> NIP </th>
                  <td mat-cell *matCellDef="let row"> {{row.NIP}} </td>
            </ng-container>

            <ng-container matColumnDef="Nama">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nama </th>
                  <td mat-cell *matCellDef="let row"> {{row.Nama}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                  <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>

            <ng-container matColumnDef="Telp_Kerja">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Phone </th>
                  <td mat-cell *matCellDef="let row"> {{row.Telp_Kerja}} </td>
            </ng-container>

            <ng-container matColumnDef="Alamat">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Alamat Rumah </th>
                  <td mat-cell *matCellDef="let row"> {{row.Alamat}} </td>
            </ng-container>

            <ng-container matColumnDef="Alamat2">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Alamat Tinggal </th>
                  <td mat-cell *matCellDef="let row"> {{row.Alamat}} </td>
            </ng-container>

            <ng-container matColumnDef="act">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Act </th>
                  <!-- <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td> -->
                  <td mat-cell *matCellDef="let row">
                        <button type="button" class="btn btn-danger" style="border-radius: 100px;"
                              (click)="openModal(template1)"><img src="../../assets/images/delete.png"
                                    style="width:16px;"></button>
                        <button type="button" class="btn btn-info" style="border-radius: 100px;margin-left:12px;"
                              (click)="openModalById(template2, row.NIP)"><img src="../../assets/images/edit_item.png"
                                    style="width:14px;margin-right:8px;">Edit</button>
                  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>