<!-- modal edit -->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left" style="text-align: center">Edit</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
       <form class="login100-form validate-form">
          <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c" >
             <input class="input100" type="text" name="email" placeholder="Nama" style="padding-left:10px;">
             <span class="focus-input100" data-placeholder="Email"></span>
          </div><br>
 
          <div class="wrap-input100 validate-input" data-validate="Enter password" style="margin-top:-8px;">
             <span class="btn-show-pass">
                <i class="zmdi zmdi-eye"></i>
             </span>
             <input class="input100" type="password" name="pass" placeholder="E-mail" style="padding-left:10px;" >
             <span class="focus-input100" data-placeholder="Password" ></span>
          </div><br>
 
          <div class="wrap-input100 validate-input" data-validate="Enter password" style="margin-top:-8px;">
                <input class="input100" type="text" name="email" placeholder="No telp" style="padding-left:10px;">
                <span class="focus-input100" data-placeholder="Email"></span>
          </div><br>
 
          <div class="wrap-input100 validate-input" data-validate="Enter password" style="margin-top:-8px;">
                <input class="input100" type="text" name="email" placeholder="Alamat Rumah" style="padding-left:10px;">
                <span class="focus-input100" data-placeholder="Email"></span>
          </div><br>
 
          <div class="container-login100-form-btn">
             <div class="wrap-login100-form-btn">
               <div class="login100-form-bgbtn"></div>
               <button type="button" class="login100-form-btn" >
                 Edit
               </button>
             </div>
          </div>
          </form>
 
        </div>   
  </ng-template>
 
  <!-- modal cofirm delete karyawan -->
 <!-- <pre class="card card-block card-header">{{message}}</pre> -->
 <ng-template #template1>
   <div class="modal-body text-center">
     <p>Do you want to confirm?</p>
     <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
     <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
   </div>
 </ng-template>
 
 <!-- search bar -->
 <!-- <div class="s006">
    <form>
       <fieldset>
          <div class="inner-form">
             <div class="input-field">
                <button class="btn-search" type="button">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                   </svg>
                </button>
                <input id="search" type="text" placeholder="Search" value="" />
             </div>
          </div>
       </fieldset>
    </form>
 
    <button type="button" class="btn btn-primary" (click)="openModal(template)">Tambah</button>
 </div> -->
 <div class="bread">
   <p><a [routerLink]="['/dashboard']">Halaman Utama</a> > <a [routerLink]="['/user']" style="font-weight:bold;">User</a></p>
</div>
 <h1>Tabel User</h1>
 <!-- search -->
 <mat-form-field >
       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" >
 </mat-form-field>
 <button type="button" class="btn btn-secondary" (click)="openModal(template)" style="margin-left:20px;margin-top:8px;float: right; "> <img src="../../assets/images/plus.png" style="width: 20px;margin-right:5px;"> Tambah</button>
 
 <!-- tabel -->
 <div class="mat-elevation-z8" style="width: 100%">
       <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="no">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
           <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
     
          <ng-container matColumnDef="email">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
           <td mat-cell *matCellDef="let row"> {{row.progress}} </td>
          </ng-container>
     
          <ng-container matColumnDef="pass">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Password </th>
           <td mat-cell *matCellDef="let row"> {{row.color}} </td>
          </ng-container>
 
          <ng-container matColumnDef="act">
             <th mat-header-cell *matHeaderCellDef mat-sort-header> Act </th>
             <td mat-cell *matCellDef="let row"> 
                <button type="button" class="btn btn-danger" style="border-radius: 100px;" (click)="openModal(template1)"><img src="../../assets/images/delete.png" style="width:16px;"></button>
                <button type="button" class="btn btn-info" style="border-radius: 100px;margin-left:12px;" (click)="openModal(template)"><img src="../../assets/images/edit_item.png" style="width:14px;margin-right:8px;">Edit</button>
             </td>
          </ng-container>
     
         <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
         <tr mat-row *matRowDef="let row; columns: displayedColumns;">
         </tr>
       </table>
     
       <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
     </div>