<!-- modal edit -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left" style="text-align: center">Edit Divisi</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <form class="login100-form validate-form" >
       <div class="wrap-input100 validate-input" data-validate="Masukan nama karyawan" style="margin-top:-8px;">
             <input class="input100" type="text" name="nama" placeholder="Nama Divisi" style="padding-left:20px;">
       </div><br>

       <div class="wrap-input100 validate-input" data-validate="Masukan NIP karyawan" style="margin-top:-8px;">
             <input class="input100" type="text" name="nip" placeholder="Deparment" style="padding-left:10px;">
       </div><br>

       <div class="wrap-input100 validate-input" data-validate = "Valid email: nama@bts.id" >
          <input class="input100" type="text" name="email" placeholder="E-mail" style="padding-left:10px;">
       </div><br>

       <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
             <div class="login100-form-bgbtn"></div>
             <button type="button" class="login100-form-btn" style="background:linear-gradient(to right,#7A1D2D,#AB222C,#E71B27);;color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                Simpan
             </button>
          </div>
       </div>
       </form>

       </div>   
</ng-template>


<!-- modal edit -->
<ng-template #template2>
    <div class="modal-header">
      <h4 class="modal-title pull-left" style="text-align: center">Edit Karyawan</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" >
      <form class="login100-form validate-form" >
         <div class="wrap-input100 validate-input" data-validate="Masukan nama karyawan" style="margin-top:-8px;">
               <input class="input100" type="text" name="nama" placeholder="Nama Karyawan" style="padding-left:20px;">
         </div><br>

         <div class="wrap-input100 validate-input" data-validate="Masukan Divisi" style="margin-top:-8px;">
               <input class="input100" type="text" name="nip" placeholder="Divisi" style="padding-left:20px;">
         </div><br>

         <div class="wrap-input100 validate-input" data-validate = "Masukan Deparment" >
            <input class="input100" type="text" name="email" placeholder="Deparment" style="padding-left:20px;">
         </div><br>

         <div class="wrap-input100 validate-input" data-validate = "Masukan Jabatan" >
            <input class="input100" type="text" name="email" placeholder="Jabatan" style="padding-left:20px;">
         </div><br>

         <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
               <div class="login100-form-bgbtn"></div>
               <button type="button" class="login100-form-btn" style="background:linear-gradient(to right,#7A1D2D,#AB222C,#E71B27);;color:white;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
                  Simpan
               </button>
            </div>
         </div>
         </form>

         </div>   
  </ng-template>
<!-- modal cofirm delete karyawan -->
<!-- <pre class="card card-block card-header">{{message}}</pre> -->
<ng-template #template1>
 <div class="modal-body text-center">
   <p>Konfirmasi hapus [Nama Karyawan]</p>
   <button type="button" class="btn btn-default" (click)="confirm()" >Ya</button>
   <button type="button" class="btn btn-primary" (click)="decline()" >Batal</button>
 </div>
</ng-template>

<!-- search bar -->
<!-- <div class="s006">
  <form>
     <fieldset>
        <div class="inner-form">
           <div class="input-field">
              <button class="btn-search" type="button">
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                 </svg>
              </button>
              <input id="search" type="text" placeholder="Search" value="" />
           </div>
        </div>
     </fieldset>
  </form>

  <button type="button" class="btn btn-primary" (click)="openModal(template)">Tambah</button>
</div> -->
<div class="bread">
   <p><a [routerLink]="['/dashboard']">Halaman Utama</a> > Struktur > <a [routerLink]="['/karir-karyawan']" style="font-weight:bold;">Karir Karyawan</a></p>
</div>
<h1>Tabel Karir-Karyawan</h1>
<!-- search -->
<mat-form-field >
     <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search" >
</mat-form-field>
<!-- <button type="button" class="btn btn-secondary" (click)="openModal(template)" style="margin-left:20px;margin-top:8px;float: right; "> <img src="../../assets/images/plus.png" style="width: 20px;margin-right:5px;"> Tambah</button> -->

<!-- tabel -->
<div class="mat-elevation-z8" style="width: 100%">
     <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="no">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> No </th>
         <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
   
        <ng-container matColumnDef="nama">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Nama </th>
         <td mat-cell *matCellDef="let row"> {{row.progress}} </td>
        </ng-container>
   
        <ng-container matColumnDef="jabatan">
         <th mat-header-cell *matHeaderCellDef mat-sort-header> Jabatan </th>
         <td mat-cell *matCellDef="let row"> {{row.color}} </td>
        </ng-container>

        <ng-container matColumnDef="divisi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Divisi </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
         </ng-container>
   
         <ng-container matColumnDef="department">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Departmen </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
         </ng-container>

        <ng-container matColumnDef="act">
           <th mat-header-cell *matHeaderCellDef mat-sort-header> Act </th>
           <!-- <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td> -->
           <td mat-cell *matCellDef="let row"> 
              <button type="button" class="btn btn-danger" style="border-radius: 100px;" (click)="openModal(template1)"><img src="../../assets/images/delete.png" style="width:16px;"></button>
              <button type="button" class="btn btn-info" style="border-radius: 100px;margin-left:12px;" (click)="openModal(template2)"><img src="../../assets/images/edit_item.png" style="width:14px;margin-right:8px;">Edit</button>
              
           </td>
        </ng-container>
   
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;">
       </tr>
     </table>
   
     <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
   </div>