/* css untuk tabel */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width:250px;
  }
  
  td, th {
    width: 1%
  }
  
  h1{
    margin-top:10px;
    font-size: 25px;
  }

  /* mengganti style header */
  :host /deep/ .mat-header-row 
  {
    background-color: #C4C4C4;
  }
  
  .bread{
    border-radius:10px;padding:6px;background-color:white;padding-left:12px;box-shadow: 2px 2px 60px #aaaaaa93
  }
  
  /* button modal */
  .container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
  }
  
  .wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: linear-gradient(to left,#7A1D2D,#AB222C,#E71B27);
  
    top: 0;
    left: -100%;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
  }
  
  .wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
  }